.main{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: #a08964;

}
.wrapper{
    margin: 0 auto;
    width: 1024px;
    height: 100vh;
    display: flex;

}
.playingField{
    margin: 200px auto;
    width: 300px;
    height: 300px;
    min-width: 300px;
    max-height: 300px;
    border: 6px solid #382f1d;
    display: flex;
    flex-wrap: wrap;

}
.squareItem{
    width: 100px;
    height: 100px;
    min-width: 100px;
    max-height: 100px;
    border: 6px solid #382f1d;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: bold;
    color: #bfa479;
    cursor: pointer;

}
.cross{
    width: 100px;
    height: 100px;
    min-width: 100px;
    max-height: 100px;
    border: 6px solid #382f1d;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: bold;
    color: #bfa479;
    cursor: pointer;
    background-image: url(../../src/img/cross.png);
}
.zero{
    width: 100px;
    height: 100px;
    min-width: 100px;
    max-height: 100px;
    border: 6px solid #382f1d;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: bold;
    color: #bfa479;
    cursor: pointer;
    background-image: url(../img/zerro.png);
}

